Repository DataDog/rum-events-format, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Datadog/rum-back, @Datadog/rum-browser, @Datadog/rum-mobile, @DataDog/rum-session-replay

.github/CODEOWNERS:

*   @Datadog/rum-back @Datadog/rum-browser @Datadog/rum-mobile

# Session Replay
/samples/session-replay-schema/ @DataDog/rum-session-replay
/schemas/session-replay/ @DataDog/rum-session-replay
/schemas/session-replay-mobile-events-schema.json @DataDog/rum-session-replay
/session-replay-mobile-events-format.json @DataDog/rum-session-replay

Apply docs team suggestions on Session Replay schemas
  schemas/session-replay/_common-record-schema.json
  schemas/session-replay/focus-record-schema.json
  schemas/session-replay/metadata-record-schema.json
  schemas/session-replay/mobile/_common-shape-wireframe-schema.json
  schemas/session-replay/mobile/_common-shape-wireframe-update-schema.json
  schemas/session-replay/mobile/_common-wireframe-schema.json
  schemas/session-replay/mobile/_common-wireframe-update-schema.json
  schemas/session-replay/mobile/full-snapshot-record-schema.json
  schemas/session-replay/mobile/incremental-data-schema.json
  schemas/session-replay/mobile/incremental-snapshot-record-schema.json
  schemas/session-replay/mobile/mutation-data-schema.json
  schemas/session-replay/mobile/shape-border-schema.json
  schemas/session-replay/mobile/shape-style-schema.json
  schemas/session-replay/mobile/shape-wireframe-schema.json
  schemas/session-replay/mobile/shape-wireframe-update-schema.json
  schemas/session-replay/mobile/text-position-schema.json
  schemas/session-replay/mobile/text-style-schema.json
  schemas/session-replay/mobile/text-wireframe-schema.json
  schemas/session-replay/mobile/text-wireframe-update-schema.json
  schemas/session-replay/mobile/touch-data-schema.json
  schemas/session-replay/mobile/viewport-resize-data-schema.json
  schemas/session-replay/mobile/wireframe-schema.json
  schemas/session-replay/mobile/wireframe-update-mutation-schema.json
  schemas/session-replay/record-schema.json
  schemas/session-replay/segment-schema.json
  schemas/session-replay/view-end-record-schema.json
Owners: @DataDog/rum-session-replay

Moving ViewportResizeData to common dir
  schemas/session-replay/mobile/viewport-resize-data-schema.json
  schemas/session-replay/viewport-resize-data-schema.json
  schemas/session-replay/viewport-resize-dimension-schema.json
Owners: @DataDog/rum-session-replay

Removing description when $ref'ing as TS generator chokes on them
  schemas/session-replay/mobile/_common-shape-wireframe-schema.json
  schemas/session-replay/mobile/_common-shape-wireframe-update-schema.json
  schemas/session-replay/mobile/incremental-snapshot-record-schema.json
Owners: @DataDog/rum-session-replay

Add Browser Session Replay schemas
  schemas/session-replay/browser/attribute-mutation-schema.json
  schemas/session-replay/browser/attributes-schema.json
  schemas/session-replay/browser/cdata-node-schema.json
  schemas/session-replay/browser/creation-reason-schema.json
  schemas/session-replay/browser/document-node-schema.json
  schemas/session-replay/browser/document-type-node-schema.json
  schemas/session-replay/browser/element-node-schema.json
  schemas/session-replay/browser/full-snapshot-record-schema.json
  schemas/session-replay/browser/incremental-data-schema.json
  schemas/session-replay/browser/incremental-snapshot-record-schema.json
  schemas/session-replay/browser/input-data-schema.json
  schemas/session-replay/browser/input-state-schema.json
  schemas/session-replay/browser/media-interaction-data-schema.json
  schemas/session-replay/browser/media-interaction-schema.json
  schemas/session-replay/browser/mouse-interaction-data-schema.json
  schemas/session-replay/browser/mouse-interaction-schema.json
  schemas/session-replay/browser/mouse-move-data-schema.json
  schemas/session-replay/browser/mouse-position-schema.json
  schemas/session-replay/browser/mutation-data-schema.json
  schemas/session-replay/browser/mutation-payload-schema.json
  schemas/session-replay/browser/node-added-mutation-schema.json
  schemas/session-replay/browser/node-removed-mutation-schema.json
  schemas/session-replay/browser/node-schema.json
  schemas/session-replay/browser/record-schema.json
  schemas/session-replay/browser/scroll-data-schema.json
  schemas/session-replay/browser/scroll-position-schema.json
  schemas/session-replay/browser/segment-metadata-schema.json
  schemas/session-replay/browser/segment-schema.json
  schemas/session-replay/browser/serialized-node-schema.json
  schemas/session-replay/browser/serialized-node-with-id-schema.json
  schemas/session-replay/browser/stylesheet-rule-add-schema.json
  schemas/session-replay/browser/stylesheet-rule-data-schema.json
  schemas/session-replay/browser/stylesheet-rule-delete-schema.json
  schemas/session-replay/browser/stylesheet-rule-schema.json
  schemas/session-replay/browser/text-mutation-schema.json
  schemas/session-replay/browser/text-node-schema.json
  schemas/session-replay/visual-viewport-record-schema.json
Owners: @DataDog/rum-session-replay

Remove unnecessary readOnly declarations
  schemas/session-replay/_common-record-schema.json
  schemas/session-replay/focus-record-schema.json
Owners: @DataDog/rum-session-replay

Adjusting Mutation source to same as browser
  schemas/session-replay/mobile/mutation-data-schema.json
Owners: @DataDog/rum-session-replay

Prefix and split Mobile schemas
  schemas/session-replay/mobile/full-snapshot-record-schema.json
  schemas/session-replay/mobile/incremental-data-schema.json
  schemas/session-replay/mobile/incremental-snapshot-record-schema.json
  schemas/session-replay/mobile/mutation-data-schema.json
  schemas/session-replay/mobile/mutation-payload-schema.json
  schemas/session-replay/mobile/record-schema.json
  schemas/session-replay/mobile/segment-metadata-schema.json
  schemas/session-replay/mobile/segment-schema.json
Owners: @DataDog/rum-session-replay

Add common Session Replay schemas
  schemas/session-replay/_common-segment-metadata-schema.json
  schemas/session-replay/full-snapshot-record-schema.json
  schemas/session-replay/incremental-data-schema.json
  schemas/session-replay/incremental-snapshot-record-schema.json
  schemas/session-replay/meta-record-schema.json
  schemas/session-replay/mutation-data-schema.json
  schemas/session-replay/mutation-payload-schema.json
  schemas/session-replay/record-schema.json
  schemas/session-replay/segment-context-schema.json
  schemas/session-replay/segment-metadata-schema.json
  schemas/session-replay/segment-schema.json
Owners: @DataDog/rum-session-replay

Add Session Replay schemas entrypoints
  schemas/session-replay-browser-events-schema.json
  schemas/session-replay-events-schema.json
  schemas/session-replay-mobile-events-schema.json
  session-replay-browser-events-format.json
Owners: @Datadog/rum-back, @Datadog/rum-browser, @Datadog/rum-mobile, @DataDog/rum-session-replay

Remove duplicate descriptors
  schemas/session-replay/mobile/text-wireframe-schema.json
  schemas/session-replay/mobile/text-wireframe-update-schema.json
Owners: @DataDog/rum-session-replay

Fix modified Mobile schemas
  schemas/session-replay/meta-record-schema.json
  schemas/session-replay/mobile/text-wireframe-update-schema.json
Owners: @DataDog/rum-session-replay

Fix mobile validation issues
  samples/session-replay-schema/session-replay-mobile/incremental-snapshot-record.json
  samples/session-replay-schema/session-replay-mobile/segment.json
  schemas/session-replay-mobile-events-schema.json
Owners: @DataDog/rum-session-replay

Apply docs team suggestions on Session Replay schemas (#72)
  schemas/session-replay/_common-record-schema.json
  schemas/session-replay/focus-record-schema.json
  schemas/session-replay/metadata-record-schema.json
  schemas/session-replay/mobile/_common-shape-wireframe-schema.json
  schemas/session-replay/mobile/_common-shape-wireframe-update-schema.json
  schemas/session-replay/mobile/_common-wireframe-schema.json
  schemas/session-replay/mobile/_common-wireframe-update-schema.json
  schemas/session-replay/mobile/full-snapshot-record-schema.json
  schemas/session-replay/mobile/incremental-data-schema.json
  schemas/session-replay/mobile/incremental-snapshot-record-schema.json
  schemas/session-replay/mobile/mutation-data-schema.json
  schemas/session-replay/mobile/shape-border-schema.json
  schemas/session-replay/mobile/shape-style-schema.json
  schemas/session-replay/mobile/shape-wireframe-schema.json
  schemas/session-replay/mobile/shape-wireframe-update-schema.json
  schemas/session-replay/mobile/text-position-schema.json
  schemas/session-replay/mobile/text-style-schema.json
  schemas/session-replay/mobile/text-wireframe-schema.json
  schemas/session-replay/mobile/text-wireframe-update-schema.json
  schemas/session-replay/mobile/touch-data-schema.json
  schemas/session-replay/mobile/viewport-resize-data-schema.json
  schemas/session-replay/mobile/wireframe-schema.json
  schemas/session-replay/mobile/wireframe-update-mutation-schema.json
  schemas/session-replay/record-schema.json
  schemas/session-replay/segment-schema.json
  schemas/session-replay/view-end-record-schema.json
Owners: @DataDog/rum-session-replay

Split mobile samples so they can be validated independently
  samples/session-replay-schema/mobile-records/json/full-snapshot-record.json
  samples/session-replay-schema/mobile-records/json/has-focus-record.json
  samples/session-replay-schema/mobile-records/json/incremental-snapshot-record.json
  samples/session-replay-schema/mobile-records/json/metadata-record.json
  samples/session-replay-schema/mobile-records/json/view-end-record.json
  samples/session-replay-schema/mobile-segments/json/segment.json
  schemas/session-replay-mobile-events-schema.json
  validate.sh
Owners: @DataDog/rum-session-replay, @Datadog/rum-back, @Datadog/rum-browser, @Datadog/rum-mobile

Relocate common schemas to a common directory
  schemas/session-replay-events-schema.json
  schemas/session-replay/browser/full-snapshot-record-schema.json
  schemas/session-replay/browser/incremental-data-schema.json
  schemas/session-replay/browser/incremental-snapshot-record-schema.json
  schemas/session-replay/browser/record-schema.json
  schemas/session-replay/browser/segment-metadata-schema.json
  schemas/session-replay/common/_common-record-schema.json
  schemas/session-replay/common/_common-segment-metadata-schema.json
  schemas/session-replay/common/focus-record-schema.json
  schemas/session-replay/common/meta-record-schema.json
  schemas/session-replay/common/segment-context-schema.json
  schemas/session-replay/common/view-end-record-schema.json
  schemas/session-replay/common/viewport-resize-data-schema.json
  schemas/session-replay/common/viewport-resize-dimension-schema.json
  schemas/session-replay/common/visual-viewport-record-schema.json
  schemas/session-replay/mobile/full-snapshot-record-schema.json
  schemas/session-replay/mobile/incremental-data-schema.json
  schemas/session-replay/mobile/incremental-snapshot-record-schema.json
  schemas/session-replay/mobile/record-schema.json
  schemas/session-replay/mobile/segment-metadata-schema.json
Owners: @Datadog/rum-back, @Datadog/rum-browser, @Datadog/rum-mobile, @DataDog/rum-session-replay

Apply docs team suggestions
  schemas/session-replay/browser/creation-reason-schema.json
  schemas/session-replay/common/_common-segment-metadata-schema.json
  schemas/session-replay/common/meta-record-schema.json
  schemas/session-replay/common/viewport-resize-dimension-schema.json
  schemas/session-replay/mobile/_common-wireframe-schema.json
  schemas/session-replay/mobile/_common-wireframe-update-schema.json
  schemas/session-replay/mobile/mutation-payload-schema.json
  schemas/session-replay/mobile/shape-border-schema.json
  schemas/session-replay/mobile/shape-style-schema.json
  schemas/session-replay/mobile/shape-wireframe-update-schema.json
  schemas/session-replay/mobile/text-position-schema.json
  schemas/session-replay/mobile/text-wireframe-update-schema.json
  schemas/session-replay/mobile/touch-data-schema.json
Owners: @DataDog/rum-session-replay

Adds FrustrationRecord type schema
  schemas/session-replay/browser/frustration-record-schema.json
  schemas/session-replay/browser/record-schema.json
Owners: @DataDog/rum-session-replay

Remove tsEnums as browser-sdk forbids exporting them
  schemas/session-replay/browser/media-interaction-schema.json
  schemas/session-replay/browser/mouse-interaction-schema.json
Owners: @DataDog/rum-session-replay

Add newly-added id on browser incremental snapshot records
  schemas/session-replay/browser/incremental-snapshot-record-schema.json
Owners: @DataDog/rum-session-replay

Reference actual schemas instead of declaring tsTypes
  schemas/session-replay/full-snapshot-record-schema.json
  schemas/session-replay/incremental-data-schema.json
  schemas/session-replay/incremental-snapshot-record-schema.json
  schemas/session-replay/mutation-data-schema.json
  schemas/session-replay/mutation-payload-schema.json
  schemas/session-replay/record-schema.json
  schemas/session-replay/segment-metadata-schema.json
Owners: @DataDog/rum-session-replay

Add CPU architecture to RUM device info
  schemas/rum/_common-schema.json
Owners: @Datadog/rum-back, @Datadog/rum-browser, @Datadog/rum-mobile

Fix quotes on integer value
  schemas/session-replay/mobile/touch-data-schema.json
Owners: @DataDog/rum-session-replay
